body {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  body::before {
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }

  .box {
    border: 1px solid white;
    min-height: 50px;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .top-buffer { 
    margin-top: 30px;
  }

  .bottom-buffer {
    margin-bottom: 30px;
  }

  .left-buffer {
    margin-left: 10px;
  }
  
  #logo {
    width: 80%;
  }

  #img {
    width: 100%;
  }

  #login {
    width: 20%;
  }

  #user {
    display: block;
    justify-content: center;
    width: 20%;
  }

  #emailHelp {
    font-size: small;
  }
