.font-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.font-small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: gray;
}

.selected{

}

#dropdownMenuButton
{
    background-color: rgb(0, 140, 255);
}

#submit{
    background-color: rgb(0, 140, 255);
    margin-top: 20px;
}

.widebox{
    width: 390px;
}

.dropdown{
    margin-top: 30px;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}
.box
{
    display: inline-block;
    padding: 50px;
}
.box-small
{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;

}

.box2{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    border-radius: 5%;
}
.temp2{
    display: inline-block;
}
.button{
    background-color: #096de8;
    border: none;
    color: white;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7%;
    font-size: 16px;

}
.temp
{
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 50px;
}